*{
  margin: 0;
  padding: 0;
}
ul{
  list-style-type: none;
  width: 30%;
  height: 100%;
  position: fixed;
  line-height: 60px;
  background: darkgray;
}
ul li{
  display: block;
  width: 100%;
}
ul li a{
  display: block;
  text-align: center;
  text-decoration: none;
  color: chocolate;
  transition: all 1s ease;
}
ul li a:hover{
  transform: translate(30%,0);
  border: 2px solid black;
  border-radius: 6px;
}
.box{
  float: right; 
  width: 70%;
  height: 16000px;
  background: lightblue;
  text-align: center;
  margin-left: 30%;
}